.Root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--bs-purple);
  position: relative;
  overflow: hidden;
  background: transparent;
  border: none;
  font-size: 2.4rem;
  transition: all 0.3s ease-out;
}

.Root:hover {
  color: rgb(107, 94, 174, 0.6);
}

.Root:disabled {
  color: rgba(107, 94, 174, 0.4);
  cursor: not-allowed;
}

.Pending {
  font-size: 2rem;
}

.PendingBlock {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.4em;
  height: 1.4em;
  display: inline-block;
  border: 2.5px solid var(--bs-pink);
  border-left-color: transparent;
  border-radius: 50%;
  transform: rotate(0deg) translate(-50%, -50%);
  animation: animation 0.8s linear infinite;
  transform-origin: 0 0;
}

@keyframes animation {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }

  100% {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}
